body {
	font-family: 'Open sans', sans-serif;
}

a {
	color: #e1704b;
	transition: color 0.5s ease;
}

a:hover {
	cursor: pointer;
}

p.desc {
	text-indent: 10px;
}

h1 {
	font-family: 'Open sans', sans-serif;
	font-size: 2.5em;
	font-weight: 500;
}

div.shot label.checkbox {
	border: 1px solid #ddd;
	border-left-width: 3px;
	padding: 9px 9px 9px 29px;
	background-color: #fff;
	margin-top: 10px;
	position: relative;
	font-weight: normal;
}

.header-color-blue {
	background: #307ecc;
	border: 1px solid #307ecc;
	box-sizing: content-box;
	position: relative;
	min-height: 38px;
	padding: 0 12px 0;
	color: #fff;
}

.filter {
	margin-top: 6px;
}

.header-color-blue + .widget-body {
	border-color: #037ecc;
	margin-top: -10px;
	padding: 20px 10px;
}

.widget-body {
	border: 1px solid #ccc;
	border-top: 0;
	background-color: #fff;
}

.strike {
	text-decoration: line-through;
}

.tools {
	position: absolute;
	top: 3px;
	right: 7px;
}

.header-elements-margin {
	margin: 5px;
}

.add-shot {
	margin-top: 10px;
}

.nav-button-margin {
	margin: 10px 20px 0 0;
}

.navbar {
	border-radius: 0;
	background: #438eb9;
	color: #fff;
}

.navbar .navbar-brand {
	color: #fff;
	font-size: 24px;
	text-shadow: none;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			MEDIA QUERIES
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

@media only screen and (max-width: 480px) {
	.widget-box {
		text-align: center;
	}
}