<div class="widget-box">
	<div class="widget-header header-color-blue">
		<div class="row">
			<div class="col-sm-6">
				<h4 class="bigger lighter">
					<i class="glyphicon glyphicon-facetime-video"></i>
					&nbsp; SHOT LIST MANAGER
				</h4>
			</div><!-- col-sm-6 -->

			<div class="col-sm-6 col-sm-3">
				<button ng-click="addNewClicked=!addNewClicked;" class="btn btn-sm btn-danger header-elements-margin">
					<i class="glyphicon glyphicon-plus"></i>
					&nbsp;Add New Shot
				</button>
			</div><!-- col-sm-3 -->

			<div class="col-sm-3">
				<input type="text" ng-model="filterShot" class="form-control search header-elements-margin" placeholder="Filter Shots">
			</div><!-- col-sm-3 -->
		</div><!-- row -->
	</div><!-- widger-header -->

	<div class="widget-body">
		<form ng-init="addNewClicked=false;" ng-if="addNewClicked" id="newShotForm" class="add-shot">
			<div class="form-actions">
				<div class="input-group">

					<div class="inputRow form-group">
						<div class="form-group col-xs-6 col-sm-3">
							<label for="shot_num_input" class="sr-only">Shot Number:</label>
							<input type="text" class="form-control" name="comment" ng-model="shot_num_input" placeholder="Number" ng-focus="addNewClicked">	
						</div>

						<div class="form-group col-xs-6 col-sm-3">	
							<label for="shot_type_input" class="sr-only">Shot Type:</label>
							<input type="text" class="form-control" name="comment" ng-model="shot_type_input" placeholder="Shot Type">
						</div>

						<div class="form-group col-sm-12">
							<label for="movement_input" class="sr-only">Movement:</label>
							<input type="text" class="form-control" name="comment" ng-model="movement_input" placeholder="Movement">
						</div>
					</div><!-- inputRow -->

					<div class="form-group col-sm-12">
						<label for="description_input" class="sr-only">Description:</label>
						<input type="text" class="form-control" name="comment" ng-model="description_input" placeholder="Shot Description">
					</div>

					<div class="pull-right col-sm-12 col-sm-3">
						<button class="btn btn-default" type="submit" ng-click="addShot(shot_num_input, shot_type_input, movement_input, description_input)">
							<i class="glyphicon glyphicon-plus"></i>
							&nbsp;Add New Shot
						</button>
					</div><!-- input-group-btn -->
				</div><!-- input-group -->
			</div><!-- form-actions -->
		</form>

		<div class="shot">
			<label class="checkbox" ng-repeat="shot in shots | filter : filterShot">
				<input type="checkbox" value="{{shot.status}}" ng-checked="shot.status==2" ng-click="toggleStatus(shot.shot_id, shot.status, shot.description)" />

				<span ng-class="{strike:shot.status==2}"><b>Shot #{{shot.shot_num}} 
					&nbsp;
					&nbsp;
					Shot Type: {{shot.shot_type}}
					&nbsp;
					&nbsp;
					Movement: {{shot.movement}}</b>
					<br />
					<p class="desc">{{shot.description}}</p>
				</span>

				<div class="tools">
					<a ng-click="deleteShot(shot.shot_id)" class="pull-right">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div><!-- tools -->

			</label>
		</div><!-- shot -->

	</div><!-- widget-body -->

</div><!-- widget-box -->